*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(185, 186, 197);
}

    #container{
    width: 1200px;
    margin: 0px auto;
    border: 1px solid black;
    }

    header{
     background: red;
     height: 100px;
     width: 100%;
     text-align: center;
     line-height: 100px;
     color: white;
     border-bottom: 3px dashed black;
    } 

nav{
    background: #b3ecff;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    list-style: none;
    margin: 20px;
}

.crearfix {
     clear:both;
}

#content {
        background: green;
        min-height: 500px;
        float: left;
        width: 80%;
    }

aside {
        background: orange;
        min-height: 500px;
        float: left;
        width: 20%;
    }

#content {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: #eee;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}